extends layout.pug

block vars
    - var title = "О себе"

block content
  div
    div <b>Работу выполняли:</b> Крюков Михаил Сергеевич
    div <b>Номер группы:</b> ИКБО-01-17
    div <b>Номер индивидуального задания:</b> 13
    div <b>Текст индивидуального задания:</b> «Парсинг массива…»