doctype html

block vars

html(lang='en')
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='stylesheet' href='/style.css')
        block head

    body
        include header.pug
        div(class='content')
            block content
        div(class='footer') © Матвей Крючков
